.announcementBar {
  display: flex;
  align-items: center;
  padding: 12px 0;
  background-color: #6119ef;
  color: #fff;
  border: none;
  font-family: AtypText, sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

html[data-announcement-bar-initially-dismissed="true"] .announcementBar {
  display: none;
}

.announcementBarPlaceholder {
  flex: 0 0 10px;
}

.announcementBarClose {
  flex: 0 0 30px;
  align-self: center;
}

.announcementBarContent {
  flex: 1 1 auto;
  line-height: var(--line-height-default);
  padding: 0 12px;
  text-align: center;
}

.announcementBarContent a {
  color: #fff;
  text-decoration: underline;
  font-weight: 500;
}

.announcementBarContent a:hover {
  color: #fff;
  opacity: 0.8;
}

@media print {
  .announcementBar {
    display: none;
  }
}

@media (min-width: 997px) {
  .announcementBarPlaceholder,
  .announcementBarClose {
    flex-basis: 50px;
  }

  .announcementBar {
    padding: 10px 0;
  }
}
