.lineaFooterContainer {
  position: relative;
  overflow: hidden;
  margin: 0 48px;
  max-width: 100%;
}

.lineaFooter {
  width: 100%;
  overflow: hidden;
  height: auto;
  display: block;
  color: var(--banner-text);
}
